.setting_nav_ {
  // padding:0px 20px;
  width: 100%;

  @media (max-width: 1024px) {
    // padding-left: 110px;
  }
  .top-bar {
    // border: 1px solid red;
    position: sticky;
    overflow: hidden;
    width: 100%;
    height: 60px;
    display: flex;
    box-shadow: 0px 2px 10px 0.1px rgba(0, 0, 0, 0.171);
    width: 100%;
    overflow: hidden;

    h2 {
      padding: 22px;
      // margin: 0;
      width: 100%;
      color: #400f6f;
      text-align: start;
      margin-left: 20px;
      display: flex;
      margin-top: -5px;
      .span {
        // margin-top: 20px !important;
        // border: 1px solid  red;
        margin-left: -5px;
        width: fit-content;
      }
    }
    .close_nav {
      position: absolute;
      right: 35px;
      border: 1px solid black;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
      cursor: pointer !important;
      z-index: 1;
      // overflow: hidden;

      // border: 1px solid red;
    }
    div {
      overflow: hidden;
      width: 100%;
      height: 70px;
      overflow: hidden;
      display: flex;
      @media (max-width: 500px) {
        display: none;
      }
      span:nth-child(1) {
        width: 40px;
        height: 140px;
        margin-left: 33px;
        margin-top: -28px;
        background: linear-gradient(
          240deg,
          rgba(121, 22, 214, 0.187) 6.46%,
          rgba(110, 32, 182, 0.233) 10.46%,
          rgba(121, 21, 198, 0.138) 90.2%
        );
        transform: rotate(40deg);
      }

      span:nth-child(2) {
        width: 80px;
        height: 170px;
        margin-left: 33px;
        margin-top: -47px;
        background: linear-gradient(
          240deg,
          rgba(129, 3, 247, 0.334) 36.46%,
          rgba(110, 32, 182, 0.294) 10.46%,
          rgba(121, 21, 198, 0.138) 100.2%
        );
        transform: rotate(40deg);
      }

      span:nth-child(3) {
        width: 40px;
        height: 160px;
        margin-left: 103px;
        margin-top: -33px;
        background: linear-gradient(
          240deg,
          rgba(129, 3, 247, 0.494) 20%,
          rgba(129, 3, 247, 0.314) 60%,
          rgba(129, 3, 247, 0.3) 20%
        );
        transform: rotate(40deg);
      }

      span:nth-child(4) {
        width: 60px;
        height: 160px;
        margin-left: 22px;
        margin-top: -39px;
        background: linear-gradient(
          240deg,
          rgba(109, 22, 190, 0.804) 10%,
          rgba(129, 3, 247, 0.314) 70%,
          rgba(129, 3, 247, 0.31) 10%
        );
        transform: rotate(40deg);
      }
      span:nth-child(5) {
        width: 20px;
        height: 160px;
        margin-left: 55px;
        margin-top: -39px;
        background: linear-gradient(
          240deg,
          rgba(109, 22, 190, 0.804) 10%,
          rgba(129, 3, 247, 0.314) 70%,
          rgba(129, 3, 247, 0.31) 10%
        );
        transform: rotate(40deg);
      }
      span:nth-child(6) {
        width: 120px;
        height: 220px;
        margin-left: 55px;
        margin-top: -69px;
        background: linear-gradient(
          240deg,
          rgba(109, 22, 190, 0.404) 20%,
          rgba(129, 3, 247, 0.204) 60%,
          rgba(129, 3, 247, 0.21) 10%
        );
        transform: rotate(40deg);
      }
      span:nth-child(7) {
        width: 100px;
        height: 220px;
        margin-left: 55px;
        margin-top: -69px;
        background: linear-gradient(
          240deg,
          rgba(109, 22, 190, 0.404) 20%,
          rgba(129, 3, 247, 0.204) 60%,
          rgba(129, 3, 247, 0.21) 10%
        );
        transform: rotate(40deg);
      }
      span:nth-child(8) {
        width: 20px;
        height: 160px;
        margin-left: 13.7px;
        margin-top: -39px;
        background: linear-gradient(
          240deg,
          rgba(109, 22, 190, 0.804) 10%,
          rgba(129, 3, 247, 0.314) 70%,
          rgba(129, 3, 247, 0.31) 10%
        );
        transform: rotate(40deg);
      }
      span:nth-child(9) {
        width: 150px;
        height: 222px;
        margin-left: 14px;
        margin-top: -65px;
        background: linear-gradient(
          240deg,
          rgba(109, 22, 190, 0.262) 0%,
          rgba(129, 3, 247, 0.137) 0%,
          rgba(129, 3, 247, 0.124) 100%
        );
        transform: rotate(40deg);
      }
      span:nth-child(10) {
        width: 40px;
        height: 205px;
        margin-left: 7px;
        margin-top: -39px;

        background: linear-gradient(
          240deg,
          rgba(109, 22, 190, 0.628) 10%,
          rgba(129, 3, 247, 0.314) 70%,
          rgba(129, 3, 247, 0.31) 10%
        );
        transform: rotate(40deg);
      }
      @media (max-width: 1300px) {
        span:nth-child(8) {
          display: none;
        }
        span:nth-child(7) {
          display: none;
        }
        span:nth-child(6) {
          display: none;
        }
        span:nth-child(10) {
          margin-left: 6px;
        }
      }
      @media (max-width: 1030px) {
        span:nth-child(1) {
          display: none;
        }
        span:nth-child(2) {
          display: none;
        }
        span:nth-child(9) {
          // display: none;
        }
      }
      @media (max-width: 800px) {
        span:nth-child(8) {
          display: none;
        }
        span:nth-child(5) {
          display: none;
        }
        span:nth-child(4) {
          display: none;
        }
        span:nth-child(9) {
          margin-left: 39px;
          margin-top: -75px;
        }
      }
      @media (max-width: 765px) {
        span:nth-child(3) {
          display: none;
        }
        span:nth-child(9) {
          display: none;
        }
        span:nth-child(10) {
          display: none;
        }
      }
    }
  }

  .navbar-items {
    display: flex;
    border-radius: 10px;
    border: 1.8px solid rgba(128, 128, 128, 0.281);
    width: fit-content;
    margin: 15px 0px 0px 20px;
    span {
      font-size: 1rem;
      padding: 10px 15px;
      color: gray;
      cursor: pointer;
    }
    @media (max-width: 800px) {
      // display: none;
      span {
        font-size: 0.9rem;
        padding: 10px;
      }
    }
    span:nth-child(1) {
      border-right: 1px solid rgba(128, 128, 128, 0.281);
      background: #400f6f;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      color: #fff;
    }
    span:nth-child(2) {
      border-right: 1px solid rgba(128, 128, 128, 0.281);
    }
    span:nth-child(3) {
      border-right: 1px solid rgba(128, 128, 128, 0.281);
    }
    span:nth-child(4) {
      border-right: 1px solid rgba(128, 128, 128, 0.281);
    }
  }
  form {
    // overflow-y: auto;
    width: 92%;
    // border :1px solid red;
    // height: fit-content;
  }

  @media (max-width: 1215px) {
    form {
      width: 100% !important;
    }
  }
  @media (max-width: 1024px) {
    form {
      padding-bottom: 100px !important;
    }
  }
  @media (max-width: 1105px) {
    form {
      // width: 95% !important;
    }
  }
  @media (max-width: 905px) {
    form {
      width: 100% !important;
    }
  }
}



// Main container styling
.competency-form-container {
    // max-width: 900px;
    width: 97%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

// Tabs container
.tabs-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    border-bottom: 2px solid #e0e0e0;
    width: 21%;
}

// Tab buttons styling
.tab-button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    color: #555;
    border-bottom: 2px solid transparent;
    transition: color 0.3s ease, border-bottom 0.3s ease;

    &.active {
        color: #6200ea;
        font-weight: bold;
        border-bottom: 2px solid #6200ea;
    }

    &:hover {
        color: #6200ea;
    }
}

// Tab content styling
.tab-content {
    .form-content {
        margin-top: 20px;
        .competency-table {
            width: 100%;
            border-collapse: collapse;

            th {
                background-color: #f2f2f2;
                color: #555;
                font-weight: 600;
                text-align: left;
                padding: 10px;
            }

            td {
                padding: 10px;
                border-bottom: 1px solid #e0e0e0;
            }

            .value-select {
                width: 100%;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 5px;
                font-size: 14px;
                color: #333;
                transition: border-color 0.2s;

                &:focus {
                    outline: none;
                    border-color: #6200ea;
                }
            }
        }
    }
}
