/* styles/ForgotPassword.css */
.PasswordNew {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.forgot-password-container {
  padding: 30px !important;
  height: 368px;
  width: 472px;
  padding: 20px;
  box-shadow: white;
  background-color: white;
  box-shadow: 0 0px 14px 0.1px rgba(192, 187, 187, 0.37);
  border-radius: 11px;
  border: 1px solid #e5e4e4;
  .topHeads {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .accountimage2 img {
      width: 124px;
    }
    .crossBtn {
      cursor: pointer;
      span svg {
        scale: 1.3;
      }
      span svg:hover {
        color: red;
      }
    }
  }
  h3 {
    color: #7b33bd;
    font-size: 24px;
    font-weight: 500;
    margin-top: 25px !important;
    margin: 10px 0;
  }
  .recovery-message {
    color: #525252;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0;
    span {
      font-size: 15px;
      font-weight: 500 !important;
      color: black;
    }
  }
  // otp
  #Indexx {
    display: flex !important;
    align-items: center;
    // justify-content: center !important;
  }

  #INputsss {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between !important;
    align-items: center !important;
    gap: 20px !important;
  }

  .otp-box {
    margin-top: 15px;

    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #525252;
    width: 64px;
    background: #ededed;
    height: 56px;
    border-radius: 8px;
    border: 1px solid rgb(254, 254, 254);
    outline: none;
    transition: border-color 0.3s ease-in-out;
    box-shadow: 0px 0px 15px 0.1px #cccbcb60;
  }

  .otp-box:focus {
    border-color: #000;
  }

  // otp
  form {
    div {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      .Elabel {
        margin: 10px 0 !important;
        color: #000;
      }
      .entermail {
        width: 100%;
        height: 40px;
        padding-left: 7px !important;
        border: 1px solid rgb(232, 230, 230);
        border-radius: 8px;
        font-size: 14px;
        padding: 0;
        margin: 10px 0;
      }
      .entermail:hover {
        box-shadow: 0px 0px 0px 2px rgba(115, 15, 173, 0.307);
        border: 1px solid #ea00ffe7 !important;
      }

      .entermail:focus {
        box-shadow: 0px 0px 5px 2px rgba(115, 15, 173, 0.142);

        border: 1px solid #ea00ff !important;
      }
      .NewIN{
        margin-top: 0 !important;
        // margin: 0 0 !important;
      }
      .newLable{
        // margin-top: 0px !important;
        margin-bottom: 0;
      }
      #eyeL{
        margin-left: 451.8px;
        padding-right: 4px;
        margin-top: 30px;
        position: absolute;
        cursor: pointer;
        background: #fff;
      }
    }
    .Otp {
      border-radius: 8px;
      margin-top: 20px !important;
      width: 100%;
      height: 40px;
      padding-left: 7px !important;
      // border: 1px solid red;
      font-size: 14px;
      cursor: pointer;
      padding: 0;
      margin: 5px 0;
      border: none;
      outline: none;
      background: #400f6f;
      color: #fff;
      font-family: Inter;
      font-size: 16px;
      font-weight: 500;
      line-height: 19.36px;
      letter-spacing: -0.025em;
      text-align: center;
    }
    .Otp:hover {
      border: 1px solid #ea00ffe7 !important;
      box-shadow: 0px 0px 0px 2px rgba(115, 15, 173, 0.307);
    }

    .acct {
      width: 100%;
      // border: 1px solid red;
      display: flex;
      align-items: center;
      margin-top: 20px;
      color: #525252;
      font-weight: 500;
      .account {
        text-align: center !important;
        a {
          color: #400f6f;
        }
      }
    }
  }
  .resend-container {
    font-size: 14px;
    color: #525252;
    font-weight: 400;
    margin-top: 10px;
    a {
      color: #400f6f;
    }
  }
  .codeOTP {
    outline: none;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    background: #400f6f;
    width: Fixed (424px) px;
    height: Fixed (44px) px;
    top: 273px;
    left: 39px;
    padding: 12px 191.5px 12px 191.5px;
    gap: 10px;
    opacity: 0px;
    border-radius: 8px;
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    letter-spacing: -0.025em;
    text-align: center;
  }
}
