.wrapper {
  height: 100vh;
  /* Use full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 20px;

  /* Optional: To avoid content sticking to the edges on smaller screens */
}

.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  background-color: #fff;
  margin: 0 auto;
  /* display: flex !important;
    align-items: center !important;
    justify-content: center !important; */
}

/*  */
.form-image-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

/* Form styling */
.form-wrapper {
  flex: 1;
  padding: 40px;
  box-sizing: border-box;
}

/* Image container */
.image-wrapper {
  flex: 1;
  position: relative;
  width: 100%;
}

/* Actual responsive image */
.image-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}

.login-image {
  /* border: 1px solid red !important; */
  background-image: url("../../assets/LoginBg1.png");
  /* background-repeat: no-repeat; */
  /* background-repeat: repeat-x; */
  border-radius: 11px;
  max-width: 35vw;
  margin-left: -10px;
  margin-top: 10px;
  border-radius: 11px;
  object-fit: cover;
  margin-bottom: 20px !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.login-image .Img_main {
  /* border-top-left-radius: 10px !important; */

  /* border-image: linear-gradient(to bottom, #eed7d779, #c17affd2) 1;
  background: linear-gradient(120.19deg, #acabab72 , #c17aff5d ); */
  background-image: url("../../assets/bbbL.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  width: 31vw !important;
  /* border: none; */
  border-radius: 10px;
  border-left: 2px solid #d9c5eb79;
  height: 70vh !important;
  margin-left: 2vw;
  margin-top: 35px;

  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red !important; */
}

.login-image .Img_main .roundBg {
  /* border: 1px solid red !important; */
  height: 70vh;
  background: radial-gradient(circle, #e5e2e9e6, transparent 52%);
  /* margin-top: 10vh; */
}

.chair_shadow {
  background-image: url("../../assets/chair_shadow.png");
  border: 1px solid rgba(255, 0, 0, 0);
  border: 1px solid red !important;
  width: 100%;
  height: 100%;
  /* position: absolute; */
}

.login-image img {
  margin: 0 auto;
  margin-bottom: 0 !important;
  margin-top: 25vh;
  width: 20vw;
  /* border-bottom: 3px solid #525252; */
  position: relative;
  /* box-shadow:inset 0px -10px 6px -5px rgba(52, 52, 52, 0.4); */
  border-radius: 8px;
  /* Bottom-only shadow */
  /* Bottom shadow effect */
}

.login-image {
  /* border: 1px solid red !important; */
}

.overlay-text {
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  color: #2a2a2a !important;
  top: 10vh;
  width: 31vw;
}

.overlay-text p:nth-child(1) {
  background: linear-gradient(173.1deg, #ffffff 23.33%, #2cef0c 126.44%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2vw;
  font-weight: 600;
  letter-spacing: -0.04em;
  text-align: center;
  margin-bottom: 10px;
}

.overlay-text p:nth-child(2) {
  font-size: 1.3vw;
  font-weight: 600;
  letter-spacing: -0.04em;
  text-align: center;
  text-align: center !important;
  font-weight: 500;
}

.overlay-text p:nth-child(3) {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.04em;
  text-align: left;
  text-align: center;
}

.overlay-text .access-infoo {
  font-size: 24px;
  font-weight: bold;
  color: #b1e6bc;
}

.overlay-text .details-info,
.overlay-text .details-info1 {
  font-size: 14px;
  color: #e0e0e0;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3vw;
  width: 30vw;
  background-color: #fff;
}

label {
  color: #2a2a2a;
}

.accountimage img {
  width: 10vw;
  height: auto;
  margin-bottom: 10px;
}

.welcome {
  color: #7b33bd;
  margin-bottom: 10px;
  /* font-family: Inter; */
  font-size: 1.6vw;
  font-weight: 500;
  /* line-height: 24px; */
  letter-spacing: -0.025em;
  text-align: left;
}

.name {
  color: #bab7b7;
  margin-bottom: 20px;
  font-size: 1vw;
  font-weight: 500;
  text-align: left;
}

.loginAlignmentform {
  /* width: 93%; */
}

.loginAlignmentform div {
  margin-bottom: 1vw;
}

.input1 .labelL {
  font-size: 1vw;
}

.address,
.passwordform {
  color: #2a2a2a;
  margin-bottom: 5px;
  display: block;
  /* font-family: Inter; */
  font-size: 1vw;
  font-weight: 400;
  /* line-height: 14px; */
  letter-spacing: -0.02em;
  text-align: left;
}

.valueform[type="email"],
.valueform[type="password"],
.valueform[type="text"] {
  /* width: 105%; */
  padding: 10px;
  font-size: 1vw;
  color: #333;
  border: 1px solid #ececec;
  border-radius: 0.4vw;
  box-sizing: border-box;
  background: #fdfdfd;
  width: 30vw;
  height: 2.5vw;
}

.slick-active div {
}

.slick-dots li {
  /* width: 20px !important; */
  /* height: 0 !important; */
  /* color: red !important; */
  /* margin-right: 0px !important; */
}

.eyeicon {
  position: absolute;
  margin-left: -2vw;

  margin-top: 0.5vw;
  font-size: 1vw !important;
  cursor: pointer;

  svg {
    width: 1.4vw !important;
    height: 1.4vw !important;
  }
}

.rememberMe1 {
  font-size: 1vw !important;
}

.forgot-password a {
  font-size: 1vw !important;
}

.remember-forgot-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 1.73px;
}

/*  */
.checkbox[type="checkbox"] {
  width: 1.5vw !important;
  height: 1.5vw !important;
  /* border: 1px solid red !important; */
  z-index: 1 !important;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  cursor: pointer;
  position: relative;
  border-radius: 3px;
  border: 1px solid grey;
}

.checkbox[type="checkbox"]:not(:checked) {
  background-color: white;
}

.checkbox[type="checkbox"]:checked {
  background-color: #6540a3;
}

.checkbox[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0.4vw;
  width: 0.4vw;
  height: 1vw;
  border: solid white;
  border-width: 0 0.2vw 0.2vw 0;
  transform: rotate(45deg);
}

.checkbox[type="checkbox"]:hover {
  box-shadow: 0px 0px 0px 2px rgba(115, 15, 173, 0.307);
  border: 1px solid #ea00ffe7 !important;
}

.input1 input {
  border: 1px solid #efe5de !important;
  /* width: 105%;
    padding: 10px; */
  font-size: 13px;
  color: #727171 !important;
  /* border: 1px solid #ececec;
  border-radius: 5px; */
  box-sizing: border-box;
  background: #fdfdfd;
  width: 424px;
  height: 40px;
  /* padding: 12px 341px 12px 12px; */
  gap: 0px;
  border-radius: 6px 6px 6px 7px;
  /* border: 1px 0px 0px 0px; */
  opacity: 0px;
}

input {
  border: none;
  outline: none;
}

.input1 input:hover {
  box-shadow: 0px 0px 0px 2px rgba(115, 15, 173, 0.307);
}

.input1 input:focus {
  color: #2a2a2a !important;
  border: 1px solid #ea00ffe7 !important;
}

/*  */

#rememberMe {
  margin-right: 9px;
  /* width: 11px; */
}

.rememberMe1 {
  font-size: 13px;
  color: #827c7c;
}

.forgot-password a {
  color: #400f6f;
  font-size: 13px;
  text-decoration: none;
  /* font-family: Inter; */
  font-size: 14px;
  font-weight: 500;
  /* line-height: 17px; */
  letter-spacing: -0.02em;
  text-align: left;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.button-container {
  width: 30vw;
}

.btnnn {
  width: 100%;
  padding: 1vw;
  font-size: 16px;
  color: #ffffff;
  background-color: #400f6f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  left: 0px;
  /* font-family: Inter; */
  font-size: 1vw;
  font-weight: 500;
  /* line-height: 19.36px; */
  letter-spacing: -0.025em;
  /* border: 2px solid red !important; */
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#svg_login_loading {
  width: 100px;
  margin-top: 15px;
  height: 50px;
  cursor: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.or-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #edebeb !important;
  margin: 0 10px;
}

.Underline2 {
  justify-content: center;
  margin-left: -10px;

  display: flex;
  align-items: center;
  margin-top: 9px;
  width: 30vw;
}

.Underline2 .line1 {
  flex: 1;
  border: none;
  border-top: 1px solid #c3c3c3;
  text-align: center;
  margin-left: 20px;
}

.Underline2 span {
  /* border: 1px solid rgb(205, 194, 194);  */
  padding-left: 15px !important;
}

.distancelogin {
  text-align: center;
  margin-bottom: 10px;
}

.login1 {
  color: #2a2a2a;
  font-weight: 500;
  /* font-family: Inter; */
  font-size: 14px;
  font-weight: 500;
  /* line-height: 19.36px; */
  letter-spacing: 0.015em;
  /* text-align: center; */
  margin-left: 37px;
}

.social-media-container {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: -5px;
  width: 30vw;
  height: 56px;
  gap: 17px;
  opacity: 0px;
}

.social-media-container img {
  width: 56px;
}

.social-icon img {
  width: 3vw;
}

.wholeaccount h6 {
  text-align: center;
  top: 12px;
  font-size: 1vw;
  position: relative;
  /* border: 1px solid red; */
}

.accountant {
  font-size: 13px;
  font-weight: 400;
  /* line-height: 15.73px; */
  letter-spacing: -0.025em;
  text-align: center;
  margin-left: 38px;
}

.accountant a {
  color: #683de5;
  font-weight: 500;
  text-decoration: none;
}

.accountant a:hover {
  text-decoration: underline;
}

.or-divider {
  margin-right: 27px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 93%;
}

.or-divider .line {
  flex: 1;
  border: none;
  border-top: 1px solid #c3c3c3;
}

.or-divider span {
  margin: 0 10px;
  color: #400f6f;
  font-size: 14px;
}

@media (max-width: 814px) {
  .login-image {
    border: 1px solid red;
    display: none;
    opacity: 0 !important;
  }
}

@media (max-width: 800px) {
  .wrapper {
    padding: 10px;
  }

  .login-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
  }

  .form-image-wrapper {
    flex-direction: column;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
  }

  .form-wrapper {
    padding: 20px;
  }

  .image-wrapper {
    display: none;
    /* Hide image on smaller screens for simplicity */
  }

  .login-image {
    display: none;
    /* Hide image on mobile */
  }

  .login-form {
    width: 90%;
    /* Adjust width for mobile */
    margin: 0 auto;
  }

  .welcome {
    font-size: 1.4rem;
    /* Adjust text size */
  }

  .name {
    font-size: 1rem;
    /* Adjust text size */
  }

  .valueform[type="email"],
  .valueform[type="password"],
  .valueform[type="text"] {
    width: 100%;
    /* Full width for input fields */
    height: 3rem;
    font-size: 1rem;
    /* Adjust font size */
  }

  .eyeicon {
    margin-left: -2rem;
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .button-container {
    width: 100%;
  }

  .btnnn {
    font-size: 1.2rem;
    padding: 12px;
  }

  .or-divider {
    margin: 10px 0;
  }

  .Underline2 {
    width: 100%;
  }

  .Underline2 span {
    padding-left: 10px;
  }

  .social-media-container {
    width: 100%;
    gap: 10px;
  }

  .input1 .labelL {
    font-size: 1rem;
    margin-bottom: 2vw;
    gap: 1vw;
  }

  .accountimage img {
    width: 80px;
    margin-top: 20px;
  }

  .social-icon img {
    width: 4rem;
    /* Adjust icon size */
  }

  .wholeaccount h6 {
    font-size: 1rem;
  }

  .rememberMe1 {
    font-size: 3vw !important;
  }

  .forgot-password a {
    font-size: 3vw !important;
  }

  .checkbox[type="checkbox"] {
    width: 3vw !important;
    height: 3vw !important;
  }
}

#HI {
  /* border: 1px solid red; */
  display: inline-block;
  /* Ensure element can be animated */
  animation: bounce 2s ease-in-out, shake 2s ease-in-out infinite 0.5s;
  /* Added delay and easing */
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(37deg);
  }

  50% {
    transform: rotate(-10deg);
  }
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
  /* border: 1px solid red !important; */
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.Alert {
  position: absolute;
  right: 2%;
  top: 2%;
}

@media (min-width: 2800px) {
  .slick-dots li {
    width: 50px !important;
  }

  .login-image .Img_main {
    margin-top: 80px;
    border-radius: 20px;
  }

  .login-image {
    margin: 40px !important;
    border-radius: 25px;
  }
}

/* @media (max-width: 1050px) {

  .login-container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  
    width: 100%;
    height: 100vh;
    
  }



  .login-image {
    max-width: 50vw;

    max-height: 70vh !important;
  }

  .login-image .Img_main {
    width: 46vw !important;
    max-height: 50vh !important;
    margin-bottom: 10vh;
  }

  .overlay-text {
    width: 46vw !important;
  }
  .slick-dots{
    margin-bottom:10vh !important;
  }
} */

@media (min-width: 768px) and (max-width: 1050px) {
  .login-container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100%;
    height: 100vh;
  }

  .login-image {
    max-width: 50vw;
  }

  .login-image .Img_main {
    width: 46vw !important;
    margin-bottom: 10vh;
    /* max-height: 50vh !important; */
  }

  .overlay-text {
    width: 46vw !important;
  }

  .slick-dots {
    /* margin-bottom: 10vh !important; */
  }
}
